<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="../js/activities.js"></script>


    <title>XtraCurricular Zone</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>


    <div id="app">
        <div id="top-nav-left">
            <a href="https://github.com/leodjtavares/leodjtavares.github.io">XtraCurricular Zone</a>
        </div>
        <div id="top-nav-right">
            <button> Basket({{cartCount}})</button>
        </div>
        <div id="main"></div>
        <div id="top-nav-center">
            <div class="search-container">
                <form>
                    <input type="text" placeholder="Search by Subject, Location, etc..." v-model="searchString">
                </form>
            </div>

        </div>
        <!-- The <div> ID will be used to link to the Vue.js code -->



        <h1>Activities</h1>
        Sort by:<br>
        <input type="radio" v-on:click="sortingBy = 'price'" id="price" name="sort" value="price"
            onclick="check(this.value)">
        <label for="price">Price</label>

        <input type="radio" v-on:click="sortingBy = 'availableSpaces'" id="availability" name="sort"
            value="availability" onclick="check(this.value)">
        <label for="availability">Availability</label>

        <input type="radio" v-on:click="sortingBy = 'activity'" id="subject" name="sort" value="subject"
            onclick="check(this.value)">
        <label for="subject">Name</label>

        <input type="radio" v-on:click="sortingBy = 'location'" id="location" name="sort" value="location"
            onclick="check(this.value)">
        <label for="location">Location</A></label>

        <div id="order">
            <!-- <button v-on:click="order = 'Ascending'">Ascending</button>
            <button v-on:click="order = 'Ascending'"onclick="order()">Ascending</button>
            <button v-on:click="order = 'Descending'">Descending</button>
            <button v-on:click="order = 'Descending'">Descending</button> -->

            <input type="radio" v-on:click="order.value = 'Ascending'" id="ascending" name="order" value="ascending"
                onclick="order.value = 'Ascending'">
            <label for="price">Ascending</label>
            <input type="radio" v-on:click="order.value = 'Descending'" id="descending" name="order" value="descending"
                onclick="order.value = 'Descending'">
            <label for="price">Descending</label>
        </div>

        <!--         
        <button id="sort-btn">Sort</button>
        <button id="reset-btn">Reset</button> -->



        <div v-for="product in sortedItems">
            <br>
            <div class="cart">
                <h2>{{product.activity}}</h2>
                <!-- <p>Price: £{{product.price}}</p>
                <p>Location: {{product.location}}</p>
                <p>Spaces Left: {{product.availableSpaces}}</p> -->
                <img v-bind:src="product.image">
                <p>Price: £{{product.price}}
                    Location: {{product.location}}
                    Spaces Left: {{product.availableSpaces}}</p>

                <div><button class="cartButton" v-on:click="buy(product)" v-if='canBuy(product)'>Buy</button>
                </div>
                <div class="availability">
                    <span v-if='product.availableSpaces === cartItemCount(product.spaces)'>All out!</span>
                    <span v-else-if="product.availableSpaces - cartItemCount(product.spaces) < 5">
                        Only {{product.availableSpaces - cartItemCount(product.spaces)}} left!
                    </span>
                    <span v-else>Buy now!</span>
                </div>
                <div class="rating">
                    <span v-for='n in product.rating'>★</span>
                    <span v-for='n in 5 - product.rating'>☆</span>
                </div>
                <br>
            </div>
        </div>

    </div>

    <script>
        let app = new Vue({ // the root Vue instance
            el: '#app', // this links to the <div> with the ID #app
            data: {
                sortingBy: '',
                order: '',

                searchString: '',

                products: product,

                cart: []
            },

            computed: { // the Computed Property object
                cartCount: function () { // the property name
                    // its value is calculated when it is called
                    return this.cart.length || "0";
                },

                sortedItems: function () {
                    let searchString = this.searchString;
                    const sortedActivities = this.products.sort((a, b) => {

                        if (order = 'Ascending') {
                            if (a[this.sortingBy] < b[this.sortingBy]) return -1
                            if (a[this.sortingBy] > b[this.sortingBy]) return 1
                            return 0
                            console.log(order.value)
                        }
                        else if (order = 'Descending') {
                            if (a[this.sortingBy] < b[this.sortingBy]) return 1
                            if (a[this.sortingBy] > b[this.sortingBy]) return -1
                            return 0
                            console.log(order.value)
                        }
                    });

                    if (!searchString) {
                        return sortedActivities;
                    } else {
                        // this line identify and our searcg input letter if uppercase it identify and convert it inro small case
                        searchString = searchString.trim().toLowerCase();
                        // here we search work by subject
                        const search_array = sortedActivities.filter((item) => {
                            if (item.activity.toLowerCase().indexOf(searchString) !== -1) {
                                // the final result return
                                return item;
                            }
                        });
                        return search_array;
                    }
                },






            },

            methods: {
                buy(product) {
                    if (product.availableSpaces > 0) {
                        product.availableSpaces--;
                    }
                    this.cart.push(product.id);
                },

                canBuy(product) {
                    return product.availableSpaces > this.cartItemCount(product.spaces);
                },

                cartItemCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },




            },


        })
    </script>
</body>

</html>